* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
/*RESET-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------
COLOURS
-----------------------------------------------------------------------------------------*/
:root {
    --light: #f8f7f3;
    --dark: #1a24fb;
}

body {
    background-color: var(--light);
}
/*-----------------------------------------------------------------------------------------
HEADER
-----------------------------------------------------------------------------------------*/
.header {
    width: 100%;
    height: 40px;
    z-index: 99;
    position: fixed;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark);
    border-bottom: 1px solid var(--light);
    align-items: center;
    color: var(--light);
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.header .material-icons {
    font-size: 24px;
}

/*-----------------------------------------------------------------------------------------
MAIN CONTAINER
-----------------------------------------------------------------------------------------*/
.main-cont {
    display: flex;
    justify-content: center;
}
/*-----------------------------------------------------------------------------------------
CONTAINER OF THE BOOKCARDS
-----------------------------------------------------------------------------------------*/

.cards-container {
    position: absolute;
    top: 100px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px 20px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .cards-container {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }
}

@media (max-width: 840px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}



/*-----------------------------------------------------------------------------------------
COMPONENT: BOOKCARD incl. title, sub(author), text
-----------------------------------------------------------------------------------------*/
.bookCard {
    position: relative;
    z-index: 0;
    width: 350px;
    height: 420px;
    padding: 40px;
    background-color: var(--light);
    color: var(--dark);
    border: 1.6px solid #1a24fb;
}

/*Sub - Author*/
.bookCard h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*Title*/
.bookCard h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 15px;
}

/*Text*/
.bookCard h5 {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-height: 180px;
    overflow: hidden; /*hide the text that exceeds the max-width*/
    text-overflow: ellipsis;
    margin-bottom: 40px;
}

/*-----------------------------------------------------------------------------------------
COMPONENT: NUMBER ON CARD
-----------------------------------------------------------------------------------------*/
.number {
    /*position: absolute;
     top: 10px;
    /*right: -20px; */
    position: relative; /*Nem értem*/
    top: 45px;
    right: -310px;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: var(--dark);
}

/*-----------------------------------------------------------------------------------------
COMPONENT: BUTTON ON CARD
-----------------------------------------------------------------------------------------*/
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18px;
    padding: 15px 0 15px;
    background-color: var(--light);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--dark);
}

.details .material-icons {
    font-size: 18px;
}

.details:hover {
    background-color: var(--dark);
    color: var(--light); /*doesn't work with the arrow icon; WHY?*/
}